.authContainer {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (orientation: landscape) and (max-height: 500px) {
  .authContainer {
    margin: 1rem;
  }
}