.container {
    max-width: 35vw;
    max-height: 80vh;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a8ed1;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgb(37, 41, 255);
    padding: 0.75rem;
}

.title {
    font-size: 3rem;
    color: #2ff3b9;
    margin: 0.5rem 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #0fe189;
}

.minutes {
    color: #2b3bc4;
}

.link a {
    text-decoration: none;
    color: #64e88a;
}
a:hover {
    color: #5d4bf6;
}
