.error {
    box-sizing: border-box;
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
    width: 320px;
    height: auto;
    background-color: #e0ad15;
    padding: 0.5rem 10%;
    color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px #999;
    opacity: .65;
    z-index: 1;
}

.error p {
    font-size: 1rem;
    margin: 0;
}

@keyframes toast-in-right {
    from {
        transform: translateX(100%);

    }
    to {
        transform: translateX(0);
    }
}

@media (max-width: 600px) {
    .error {
        padding: 0.5rem 5%;
        width: 240px
    }
}

@media (max-width: 420px) {
    .error {
        padding: 0.5rem 5%;
        width: 180px
    }
}