.form {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.edit_input {
    margin: 0 1.5rem 0 0;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font: inherit;
    font-size: 1.125rem;
    padding: 0.25rem 0;
    color: #6474ff;
}