.title {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    color: #4a58f5;
}

.main {
    width: 60%;
    margin-bottom: 2rem;
}

.text {
    margin: 2rem 0;
    color: #4a58f5;
    font-size: 2rem;
    text-align: center;
}